@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Apfel Grotezk";
    src: url("/fonts/apfel-grotezk/ApfelGrotezk-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: "Neue Machina Bold";
    src: url("/fonts/neue-machina/NeueMachina-Ultrabold.otf") format("opentype");
  }
  @font-face {
    font-family: "Neue Machina";
    src: url("/fonts/neue-machina/NeueMachina-Regular.otf") format("opentype");
  }
}

body {
  background-color: #080a0c;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
button > div {
  font-family: "Apfel Grotezk", sans-serif;
  user-select: none;
  font-weight: 600;
}

p,
span,
div,
small {
  font-family: "Apfel Grotezk", sans-serif;
  user-select: none;
}

button {
  outline: none;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Loader */
.circle {
  position: relative;
  aspect-ratio: 1;
}

.letter {
  position: absolute;
  top: 0;
  left: 50%;
  font-family: "Neue Machina Bold", sans-serif;
  color: #cbfb45;
}
/* Loader END */

#tsparticles {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  pointer-events: none;
}

/* Removing arrows from input text */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.apexcharts-tooltip {
  background: #181e25bf; /* Gray background color */
  color: #ffffff; /* White text color */
  text-align: center;
}
.apexcharts-tooltip-title {
  padding: 0px !important;
  margin-bottom: 0px !important;
}
.apexcharts-canvas {
  width: 100% !important;
}

/* .text-gradient-9 {
  background: -webkit-linear-gradient(
    91deg,
    #8ad4ec 0%,
    #ef96ff 21.74%,
    #ff56a9 54.03%,
    #ffaa6c 85.28%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-1 {
  background: linear-gradient(
    91deg,
    #70a2ff 0%,
    #72f6d1 21.87%,
    #76e268 47.92%,
    #ffd505 72.4%,
    #f76e64 100%
  );
}

.gradient-2 {
  background: linear-gradient(91deg, #70a2ff 0%, #f76e64 100%);
}

.gradient-3 {
  background: linear-gradient(
    91deg,
    #70a2ff 0%,
    #72e5da 28.65%,
    #72f6d1 50.52%,
    #76e268 100%
  );
}

.gradient-4 {
  background: linear-gradient(91deg, #ffd505 0%, #f44336 100%);
}

.gradient-5 {
  background: linear-gradient(91deg, #76e268 0%, #ffd505 100%);
}

.gradient-6 {
  background: linear-gradient(91deg, #45f0d1 0%, #76e268 100%);
}

.gradient-7 {
  background: linear-gradient(91deg, #70a2ff 0%, #54f0d1 100%);
}

.gradient-8 {
  background: linear-gradient(
    91deg,
    #a9cdff 0%,
    #72f6d1 21.87%,
    #a0ed8d 55.73%,
    #fed365 81.77%,
    #faa49e 100%
  );
}

.gradient-9 {
  background: linear-gradient(
    91deg,
    #8ad4ec 0%,
    #ef96ff 21.74%,
    #ff56a9 54.03%,
    #ffaa6c 85.28%
  );
}

.gradient-960 {
  background: linear-gradient(
    91deg,
    rgba(138, 212, 236, 0.6) 0%,
    rgba(239, 150, 255, 0.6) 21.74%,
    rgba(255, 86, 169, 0.6) 54.03%,
    rgba(255, 170, 108, 0.6) 85.28%
  );
}

.gradient-10 {
  background: linear-gradient(
    91deg,
    rgba(96, 123, 132, 0.7) 0%,
    rgba(57, 21, 63, 0.7) 29.54%,
    rgba(81, 11, 46, 0.7) 54.03%,
    rgba(103, 45, 3, 0.7) 85.28%
  );
} */
